<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/add_category">Add Category</a></li>
            <li><a href="/">Profile</a></li>
        </ul>
    </nav>
    
<h6>Welcome, <%= session.username %></h6>
    <button type="button"><a href="/admin_logout">Logout</a></button>
</header>